{% extends "template.html" %}
{% block content %}
    <div>
        Информация о рейсе {{flight.flight_id}}:
            <div>
                Время вылета:
                {{flight.departure_time|date:'H:i d-m-Y'}}
            </div>
            <div>
                Время прилета:
                {{flight.arrival_time|date:'H:i d-m-Y'}}
            </div>
            <div>
                Аэропорт отправления:
                {{flight.departure_place.airport_name}}, {{flight.departure_place.city}}
            </div>
            <div>
                Аэропорт прибытия:
                {{flight.arrival_place.airport_name}}, {{flight.arrival_place.city}}
            </div>
            <div>
                Самолет: {{flight.plane_model}}
            </div>
    </div>
    <hr>
    <div>
        <div>
            Информация о заказе:
            <div>
                Класс:
                {% if data.type == '0' %}
                    Эконом
                {% else %}
                    Бизнес
                {% endif %}
            </div>
            <div>
                Количество мест:
                {{data.amount}}
            </div>
            <div>
                Количество мест с багажом:
                {{data.luggage_amount}}
            </div>
            <div>
                Количество мест для детей:
                {{data.children_amount}}
            </div>
        </div>
        <div>
            К оплате:
            {{data.sum}}
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{form}}
        </fieldset>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
{% endblock content %}